<%= @user.email %>

<% @user.portfolios.each do |portfolio| %>
  <p><%= portfolio.name %></p>
  <%= link_to "Delete", portfolio_path(portfolio), method: :delete, data: { confirm: "Are you sure?" } %>
  <%= simple_form_for [portfolio, @stock] do |f| %>
    <%= f.input :symbol %>
    <%= f.input :amount %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit, "Add a stock" %>
  <% end %>
  <% portfolio.stocks.each do |stock| %>
    <p><%= [stock.amount, stock.symbol] %></p>
    <p><%= @stocks_with_adjusted[stock.symbol] %></p>
    <%= link_to "Delete Stock", stock_path(stock), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<%= simple_form_for (@portfolio) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, "Build a new portfolio" %>
<% end %>



