<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A calculator that allows you see the value of different investments in cash, stocks and shares, or cryptocoins, that you might have made in the past, and compare them on graphs">
    <title>What if I had</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <p>Coming soon- a page that will allow you to build your own real portfolio, and whatif portfolios, so you can see how they compare and how different investments you were thinking about making would compare</p>
    <p>what if i had</p>
    <p>what if i had invested in stocks</p>
    <p>what if i had invested in bitcoin</p>
    <p>what if i had invested in cryptocurrency</p>
    <p>what if i had invested in cryptoassets</p>
    <p>what if i had invested in shares</p>
    <p>what if i had invested in amazon</p>
    <p>what if i had invested in facebook</p>
    <p>what if i had invested calculator</p>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
