<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A calculator that allows you see the value of different investments in cash, stocks and shares, or cryptocoins, that you might have made in the past, and compare them on graphs">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    what if i had
    what if i had invested in stocks
    what if i had invested in bitcoin
    what if i had invested in cryptocurrecny
    what if i had invested in cryptoassets
    what if i had invested in shares
    what if i had invested in amazon
    what if i had invested in facebook
    what if i had invested calculator
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
